@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------
   FUENTES + RESET PREMIUM
--------------------------- */

@layer base {
  /* Fuente principal */
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  /* Reset */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f8fafc; /* slate-50 */
    color: #1e293b; /* slate-800 */
  }

  /* Scrollbar minimal */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #94a3b8; /* slate-400 */
    border-radius: 10px;
  }

  /* Suavizado de links */
  a {
    color: inherit;
    text-decoration: none;
  }
}
